# Configuración para entorno producción
NEXT_PUBLIC_ENVIRONMENT=prod
NEXT_PUBLIC_API_URL=https://9o43ckvise.execute-api.us-east-1.amazonaws.com/prod
NEXT_PUBLIC_CLIENTS_API_URL=https://mkrc6lo043.execute-api.us-east-1.amazonaws.com/prod
