# Configuración para entorno sandbox
NEXT_PUBLIC_ENVIRONMENT=sandbox
NEXT_PUBLIC_API_URL=https://m4ijnyg5da.execute-api.us-east-1.amazonaws.com/sandbox
NEXT_PUBLIC_CLIENTS_API_URL=https://mkrc6lo043.execute-api.us-east-1.amazonaws.com/sandbox
